Source: opx-logging
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9),
 dh-autoreconf,
 exuberant-ctags,
 libsystemd-dev,
 libxml2-dev,
 python-dev
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/open-switch/opx-logging
Vcs-Git: https://github.com/open-switch/opx-logging.git

Package: opx-logging
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Logging utilities for OpenSwitch Logging
 This package adds a system utility for updating the logging configuration.

Package: libopx-logging1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Shared library for OpenSwitch logging
 This package provides a library for event logging in OpenSwitch.

Package: libopx-logging-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopx-logging1 (= ${binary:Version})
Description: Development headers for OpenSwitch logging
 This package provides development headers for event logging in OpenSwitch

Package: python-opx-logging
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: Python bindings for OpenSwitch logging
 This package provides a C Python extension for working with event logging in
 OpenSwitch.
